@model Bookshop.Models.ViewModels.ShoppingCartVM

<br />
@if (Model.ListCart.Count() > 0)
{
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Shopping Cart
                    </div>
                    <div class="col-6 text-right">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.ListCart)
                    {
                        <div id="partial-cart-@item.Id">
                            <partial name="_CartPartial" model="item" />
                        </div>
                    }
                    <div class="row" id="partial-total">
                        <partial name="_TotalPartial" model="Model.OrderHeader" />
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-footer row">
                        @if (!Model.OrderHeader.ApplicationUser.EmailConfirmed
                       && Model.OrderHeader.ApplicationUser.CompanyId != null
                       && Model.OrderHeader.ApplicationUser.Company.IsAuthorizedCompany)
                        {
                            <div class="col-8 text-danger">
                                Email must be confirmed for authorized customers!
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-outline-warning btn-sm">
                                    Click here to resend confirmation email!
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">

                                <a asp-controller="Cart" asp-action="Summary" class="btn btn-success form-control">Summary</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>There are no items in the shopping cart.</div>
}

@section Scripts{
    <script>
        function UpdatePlus(that, url) {
            var id = $(that).parents().eq(4).attr('id')
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    $('#' + id).html(result);
                    $.ajax({
                        url: '/Customer/Cart/TotalPartial',
                        type: "GET",
                        success: function (result) {
                            $('#partial-total').html(result);
                        }
                    });
                }
            });
        }

        function UpdateMinus(that, url) {
            var id = $(that).parents().eq(4).attr('id')
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    if (result == null) {
                        window.location = '/Customer/Cart/Index';
                    }
                    else {
                        $('#' + id).html(result);
                        $.ajax({
                            url: '/Customer/Cart/TotalPartial',
                            type: "GET",
                            success: function (result) {
                                $('#partial-total').html(result);
                            }
                        });
                    }
                }
            });
        }
    </script>
}

