@model Bookshop.Models.OrderHeader

<div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between bg-light">
            <span class="text-info"> Total (USD)</span>
            <strong class="text-info">$ <span id="txtOrderTotal">@Model.OrderTotal</span></strong>
        </li>
    </ul>
</div>